/*general styles*/

body { background: #E3E2E7; }
.bg-white { background: #FFF; }
.bg-gold { background: #f4cc53 !important; }
.bg-light-gold { background: #FBDE9F !important; }
.extra-fucking-big { font-size: 100px; }
.bg-footer { color: $dark-purple;  background-color:#D7D6DE; }

/*header*/
.header { background: $dark-grey ; }
.header-top {background: $dark-grey !important; }
.header-bottom { background: #FFFFFF !important;}
.menu-item-square { display: inline-block; padding: 10px 20px; color: lightgray; background: white; color:black !important; }

.item-square-active {@extend .menu-item-square; background: white !important; border: 2px solid black;}
.item-square-disabled {@extend .menu-item-square; background: white !important; @extend .smooth-transition }


/*colors*/
.bluepurple { color: #475179 !important; }
.light-blue { color: #C4DFE4 !important; }
.dark-purple { color: #343458 !important;} 
.grey { color:#A7A7A7; }
.light-grey { color:#DBDBDB; }
.dark-grey { color:#7F7F7F; }


.bg-greygradient {
    
background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(1%, rgba(209,209,209,1)), color-stop(24%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );

}

/*box*/

.box { @extend .bg-white;  border: 1px solid #A8A5B5; padding: $global-padding; position: relative; }  
.padding-box { @extend .box; margin-bottom: 30px; }  
@media (min-width: $tablet) {
.padding-box { padding-top: 0px; padding-left: 30px; padding-right: 50px; padding-bottom: 30px;  }  
}  

        
.box-number { position: absolute; top: 5px; left: 5px;  background: $dark-purple; margin-bottom: 10px; padding: 5px 10px;  color: #fff }

.box-title { background: $dark-purple; margin-bottom: 10px; padding: 5px 10px;  color: #fff}
.box-title p { margin: 0; border: none; color: #fff; padding: 0;}
.underlined-title {border-bottom: 2px solid #F2F2F2;}


.box-content { padding-bottom: 30px; }
.sidebar { background:#EEEEEE !important; height: 100%; }



.icon-promo>.inner { overflow: hidden; border-radius: 5px; }
.icon-box { background: $dark-purple; padding:10px 10px 50px 10px; }

.icon-box-small { background: $dark-purple; border-radius:100%; margin-top: 10px; width:20px; line-height: 20px; text-align: center; color: #F7CE58; font-size: 12px;}
.icon-box-home-button { position:absolute; bottom: 0; @extend .bg-greygradient ; color:#635F7C; }

.icon-box-home-1,
.icon-box-home-2 { width: 100%; height: 0px; padding-bottom: 100%; position: relative;  }

.icon-box-home-1 .inner,
.icon-box-home-2  .inner { width: calc(100% - 20px); height:  calc(100% - 20px); position: absolute; top: 0; left: 0;  text-align: center;}


.icon-box-home-1 { background: $dark-purple; color: #F6CB60; font-size:50px; border-right: 5px solid $light-purple; }
.icon-box-home-2 {  
background: rgba(226,226,226,1);
background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(1%, rgba(209,209,209,1)), color-stop(24%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 ); }


.icon-box .icon-wrapper { text-align: center; color: #F7CE58; font-size: 70px; line-height: 55px !important;}
.title-icon-box {background: $dark-purple; color: #F7CE58; font-size: 50px; padding: 0; line-height: 80px; width: 80px; text-align: center; margin-right: 10px;}
.icon-title-wrapper { overflow: hidden; padding-top:0; padding-left: 0px ; margin-left: 0px;   }

.user-box { border: 1px solid #bcbac6; padding: 5px 3px; }


/*tables*/

table { border: 1px solid $dark-purple; }
table tr {}
table tr th { color: white; background: $dark-purple; }
table tr:nth-child(2n+1) { background: #e8eff9; }
table tr { background: #FFFFFF; }
table tr:nth-child(2){ background: #f8d9d8; }
table tr:nth-child(3){ background: #c0f3d3; }

table tr {border: 2px 0px solid #FFFFFF; }
table tr th,
table tr td { padding: 5px 10px; }

.logo { border: 50px; }
@media (min-width: $tablet) {
.drop-down-wrapper { float: right; }
}


.corner-button { position: absolute; bottom: 0; right: 0; margin-right: 0;}
.big-text-area { height:120px;}
.no-border { border:none !important; }


.border-radius-tr { border-top-right-radius: 10px !important; overflow: hidden;}
.border-radius-br { border-bottom-right-radius: 10px !important; overflow: hidden;}
.border-radius-tl { border-top-left-radius: 10px !important; overflow: hidden;}
.border-radius-bl { border-bottom-left-radius: 10px !important; overflow: hidden;}

.icon-box-grey { background:#EEEEEE !important; color:#F6D06B; font-size: 50px; text-align:center;}
.icon-box-slider { background-color:#EBEBEB; height:100%; margin-top:0px !important; padding-top:0px  !important; }
.sidebar-home {@extend .sidebar;  width: 25%; padding-bottom: 100%; }
.bottom-box-home { background: #EEEEEE; padding:60px; margin: 20px 0px 30px 0px; }
.bottom-sidebar-home { padding:0px 20px 0px 0px; margin: 20px 0px 30px 0px; }

.full-width {width:100%;}

.slider-container .slide-caption { padding:0px; }

.fa-big {font-size:70px !important;}

.font-white { color:white !important;}

.tc { text-align:center !important;}