@import "../../assets/gstring/main";
@import "content/_colors";
@import "content/_boxes";
@import "content/_borders";
@import "content/_tables";
@import "content/_paddings";
@import "content/_slider";
@import "content/_buttons";
@import "content/_menu";
@import "content/_scrollbar";

/*general styles*/

.extra-fucking-big {font-size: 100px;}
.big-font {font-size: 20px;}

.full-width {width: 100%;}
@media (min-width: $tablet) {.drop-down-wrapper {float: right;}}
.big-text-area {height: 120px;padding: 15px;}
.fa-big {font-size: 70px !important;}
.fa-medium {font-size: 50px !important;}

.tc {text-align: center !important;}

.logo {border: 50px;}
.logo img { max-width:175px; }
.logo-small img { max-width:100px; }

