/*boxes*/
/*------------------------------------------*/
.box { position: relative; }
.box-full-link { display: block; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index:1; }

/*title boxes*/
/*------------------------------------------*/

.box-title { }
.box-title .yellow{
    font-size: 24px;
    background-color: #FED204 !important;
    color: black !important;
    padding: 4px;
    display: inline-block;
    margin-bottom: 5px !important;
    line-height: 26px;
}

/*Box overlays*/
/*------------------------------------------*/
.box .overlay-content { @extend .smooth-transition; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; background: rgba(4,157,254,0.57) !important; z-index: 1;  }
.box:hover .overlay-content { opacity: 1;  }



/*image boxes*/
/*------------------------------------------*/
.image-box { position: relative; z-index: 0; overflow: hidden; background: #f2f2f2; border: none; }
.image-box  .image-wrapper img { display: block; }
.image-box  .content-wrapper { padding: 20px; padding-right: 60px; position: relative; }
.image-box  .content-wrapper .link {  position: absolute; top: 50%; right: 10px; height: 40px; line-height: 40px; font-size: 40px; margin-top: -20px; z-index:2; }

.image-block {display:block;}

.overflow-box { z-index:0; overflow:visible; position:relative; display:block; }
.overflow-box .image-overflow-box { z-index:1; position:absolute; background:transparent; bottom:0px; display:block; }
.overflow-box .buttons-wrapper { z-index:1; position:absolute; background:transparent; display:block; top:-50px; }

@media only screen and (max-width: $mobile) {
    .overflow-box .image-overflow-box { display:none; }
}
@media only screen and (max-width: $tablet) {
    .overflow-box .buttons-wrapper { position:relative; }
}
@media only screen and (max-width: $tablet) {
    .buttons-wrapper .padding-button { margin:2%; padding:10px; }
}
    

.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
@media only screen and (min-width: $tablet) {
    .banner { height:0; 
    padding-bottom:25%; }
}

.banner-big {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom:7%;
    }
@media only screen and (min-width: $tablet) {
    .banner { height:0; 
    padding-bottom:25%; }
}

.banner-wide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

.box-post {}
.box-post .image-wrapper {}
.box-post .image-wrapper img { width: 100%; display: block; }

@media only screen and (min-width: $tablet) {
    .banner-wide { height:0; 
    padding-bottom:60%; }
}
.banner-nocover { 
    background-repeat: no-repeat;    
    position: absolute;
    top:0;
    left:0;
    height:100%;
    }
@media only screen and (max-width: $tablet) {
    .banner-nocover { display:none; }
}


/*isotope boxes*/
/*------------------------------------------*/
.isotope-container{ height:100% !important; }
.isotope-box { position: relative; z-index: 0; overflow: hidden; background: #f2f2f2; border: none; padding-bottom: 66%; height: 0; }
.isotope-box .image-wrapper { position: absolute; top: 0; left: 0; height: 100%; width: 100%; }
.isotope-box .image-wrapper img { display: block;  height: 100%; width: 100%;}
.isotope-box .content-wrapper { text-align: center; }


/*boxes with colors*/
/*------------------------------------------*/

.title-box-yellow { background-color: #FED204 !important; color: black !important; padding:5px; margin-bottom:10px !important; }
.title-box-blue { background-color: rgba(4,157,254,0.57) !important; color: white; padding:5px;}
.title-box-blue-solid { background-color: #0E9AF2 !important; color: white; padding:5px 10px !important;}
.title-box-black { background-color: rgba(0,0,0,.57) !important; color: white !important; }
.title-box-white { background-color: #FFF !important; color: black !important; }
.title-box-white-p0 { background-color: #FFF !important; color: black !important; }
.box-light-grey { color: #262625; background: #F2F2F2; }
.box-grey { background: #EEEEEE !important; color: #F6D06B; }

/*icon boxes*/
/*------------------------------------------*/

.icon-box { background: #FED204; padding: 10px 10px 50px 10px; }
.icon-box-yellow { display: inline-block; text-align: center; font-size: 20px; color: #262625; background: #fed204; margin-bottom: 20px; padding: 10px; }
.icon-box-light-grey { display: inline-block; text-align: center; font-size: 24px; color: #262625; background: #F2F2F2; margin-bottom: 20px; padding: 5px; }

.icon-box-grey { background: #EEEEEE !important; color: #F6D06B; font-size: 50px; text-align: center; }
.icon-box-slider { background-color: #EBEBEB; height: 100%; margin-top: 0px !important; padding-top: 0px !important; }
.icon-box-small { background: $dark-purple; border-radius: 100%; margin-top: 10px; width: 20px; line-height: 20px; text-align: center; color: #F7CE58; font-size: 12px; }

.icon-box-square {background: #FFFFFF; line-height: 75px; text-align: center; color: #737373; font-size: 30px !important; border: 2px solid #737373; height: 80px; width: 85px; margin: 30px auto; position: relative;}
.icon-box-square-padding {background: #FFFFFF; line-height: 75px; text-align: center; color: #737373; font-size: 30px !important; border: 2px solid #737373; height: 80px; width: 85px; margin: 30px auto; position: relative; padding: 25px 15px;}
    
.icon-box-home-button { position: absolute; bottom: 0; @extend .bg-greygradient; color: #635F7C; }

.icon-box-home-1,
.icon-box-home-2 { width: 100%; height: 0px; padding-bottom: 100%; position: relative; }

.icon-box-home-1 .inner,
.icon-box-home-2 .inner { width: calc(100% - 20px); height: calc(100% - 20px); position: absolute; top: 0; left: 0; text-align: center; }

.icon-box-home-1 { background: $dark-purple; color: #F6CB60; font-size: 50px; border-right: 5px solid $light-purple; }
.icon-box-home-2 { background: rgba(226,226,226,1); background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(1%, rgba(209,209,209,1)), color-stop(24%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1))); background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%); background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%); background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%); background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 1%, rgba(219,219,219,1) 24%, rgba(254,254,254,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 ); }
.icon-box .icon-wrapper { text-align: center; color: #F7CE58; font-size: 70px; line-height: 55px !important; }

.title-icon-box { color: #F7CE58; font-size: 50px; padding: 0; line-height: 80px; width: 80px; text-align: center; margin-right: 10px; }

.icon-promo > .inner { overflow: hidden; border-radius: 5px; }

.icon-title-wrapper { overflow: hidden; padding-top: 0; padding-left: 0px; margin-left: 0px; }

.icons-wrapper {display:inline-block; list-style: none; }



/*number boxes*/
/*------------------------------------------*/
.number-box { background: #FED204; height: 25px; width: 25px; margin: 0px auto; padding: 3px; position: absolute; top: -12.5px; left: 50%; margin-left: -12.5px; }




/*line boxes*/
/*------------------------------------------*/

.line-container { position: relative; }
.line-container:after { content: " "; display: block; position: absolute; width: calc(100% - 200px); height: 1px; border: 1px dashed #ccc; top: 90px; left: 0; z-index: -1; margin: 0 98px; }
/*history*/
/*------------------------------------------*/
.history-container {position: relative; }
.history-container:after {      content: " ";
    display: block;
    position: absolute;
    border: 2px solid #ECECEC;
    z-index: -1;
    width: 1px;
    height: calc(100% - 110px);
    left: 70px;
    margin: 0;
    top: 50px;
}  

.history-container .icon-box-square { margin: 0; }

@media only screen and (max-width: $mobile) {
    .history-container:after { 
    width: 1px;
    height: calc(100% - 350px);
    left: calc(25% - 5px);
    margin: 0;    
    top: 55px !important; }
}
@media only screen and (max-width: $tablet) {
    .line-container:after { 
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    height: calc(100% - 250px);
    border: 1px dashed #ccc;
    top: 90px;
    left: 50%;
    z-index: -1;
    margin: 0; }
}
    



/*sidebar boxes*/
/*------------------------------------------*/
.sidebar { height: 100%; }

.sidebar-home { @extend .sidebar; width: 25%; padding-bottom: 100%; }


.bottom-sidebar-home { padding: 0px 20px 0px 0px; margin: 20px 0px 30px 0px; }

/*other boxes*/
/*------------------------------------------*/
.user-box { border: 1px solid #bcbac6; padding: 5px 3px;}


.box-container-wide { margin: 0 auto; clear: left; overflow: visible; padding: 0;; padding-left: 0 !important; padding-right: 0 !important;}

.bottom-box-home { background: #EEEEEE; padding: 60px; margin: 20px 0px 30px 0px;}

.box-content { padding-bottom: 30px;}

@media only screen and (max-width: $mobile) {
     .counter-box { text-align:center; border:none; }
}
.contact-form-wrap {position:relative;}
.wide-post { height:233px; position:relative;}

.comment-box {position:relative;}

/*subscribe*/
.subscribe-form {}
.subscribe-form .form-wrapper { padding: 50px 20px 70px; overflow: hidden; }
.subscribe-form .form-wrapper .text-input { width: calc(100% - 60px); float: left; margin: 0; }
.subscribe-form .form-wrapper .btn { display: block;
    width: 50px;
    height: 54px;
    float: left;
    line-height: 54px;
    padding: 0;
    text-align: center; border: 1px solid #CCC; border-left: none; }