
.btn { 
       color: White;  
       border: none; 
       cursor: pointer; 
       margin-right: 10px;  
       font-size: 16px; 
       background: black; 
       padding: 9px 10px; 

}

.corner-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0;
}
.corner-bottom-left {
    position: absolute;
    bottom: 0;
    left: 10px;
    margin-right: 0;
}

.corner-button-top {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    z-index: 2;
}

.btn-border-bottom {
    display: inline-block; 
    color: White;  
    border: none; 
    cursor: pointer; 
    margin-right: 10px;  
    font-size: 16px; 
    background: black; 
    padding: 9px 10px; 
    border-bottom: 3px solid #FED204;
}

.btn-yellow {  @extend .btn; background: inherit; margin: 10px !important;}
.btn-grey { display: inline-block; 
            border: none; 
            cursor: pointer;
            font-size: 16px; 
            padding: 9px 10px; 
            background: #FFFFFF; 
            color:black; 
            margin: 10px !important;
            align-content:center;            
}

/*.padding-button { @extend .global-border; padding: 10px 75px; display: inline-block; cursor: pointer; background: white; width: 95%;}
input[type="submit"]:disabled,
input[type="button"]:disabled, 
.padding-button.disabled { background: white !important; color: #FED204 !important; cursor: default; text-decoration: none; }
input[type="button"]:hover, 
input[type="button"]:focus, 
input[type="button"]:active,
.padding-button:hover, 
.padding-button:focus, 
.padding-button.active { text-decoration: none; border: 1px solid $active-color; background: $active-color; color: $shade-2; @extend .smooth-transition  }

@media only screen and (max-width: $mobile) {
    .padding-button { margin:auto; margin-top:0 !important; margin-bottom:0 !important; }
}*/
.buttons-wrapper {}
.buttons-wrapper .button-item-wrapper { @extend .global-border; background: white; width: 100%; }
.buttons-wrapper .button-item-wrapper .button-item { position: relative; width: 280px; max-width: 100%; margin: 0 auto; overflow: hidden; padding: 20px; }
.buttons-wrapper .button-item-wrapper:hover,
.buttons-wrapper .button-item-wrapper:focus,
.buttons-wrapper .button-item-wrapper.active {text-decoration: none; border: 1px solid $active-color; background: $active-color; color: $shade-2; @extend .smooth-transition }
.buttons-wrapper .button-item-wrapper .button-item .icon-wrapper { display: block; float: left; text-align: center; width: 70px; padding-right: 10px; margin-right: 10px; }
.buttons-wrapper .button-item-wrapper .button-item .copy-wrapper { display: block; float: left; width: calc(100% - 80px); text-align: center; }
.buttons-wrapper .button-item-wrapper .button-item .copy-wrapper p:last-child { margin-bottom: 0; width: 100%; display: block; max-height: 20px; text-overflow: ellipsis; }

.buttons-wrapper .box-4 .inner {margin-bottom:0; padding-bottom:0; }
 
@media only screen and (max-width: $mobile) {
    .buttons-wrapper .box-4 .inner { margin-top:0; padding-top:0; }
}

/*input[type="button"]:hover, 
input[type="button"]:focus, 
input[type="button"]:active,
.padding-button:hover, 
.padding-button:focus, 
.padding-button.active {  }*/



.icon-box-square-little { @extend .btn; background: #F2F2F2 ; line-height: 31px !important; text-align: center !important; color: #CACACA !important; font-size: 30px !important; border: 2px solid #8C8989 !important; height: 35px !important; width: 40px !important; padding-top:0 !important; margin: 30px 10px !important; position: relative !important; }
input[type="submit"]:disabled,
input[type="button"]:disabled, 
.icon-box-square-little.disabled { background-color: #F2F2F2 !important; color: #CACACA !important; cursor: default; text-decoration: none; }
input[type="submit"]:hover, 
input[type="submit"]:focus, 
input[type="submit"]:active,
.icon-box-square-little:hover, 
.icon-box-square-little:focus, 
.icon-box-square-little.active { text-decoration: none; background: $active-color !important; color: black !important; border: 2px solid black !important;  @extend .smooth-transition  }